name: Docker Deployment

on:
  push:
    branches:
      - main
    tags:
      - "v*"
    paths:
      - "app.js"
      - "dockerfile"
      - "src/**"
      - "controllers/**"
      - "public/**"
      - "routes/**"
      - "scrapers/**"
      - "util/**"
      - "index.js"
      - ".github/workflows/nodetest.yml"
      - "models/**"
      - "package*"
      - "Jenkinsfile"
      - "middlewares/**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Start services with Docker Compose
        run: |
          docker compose up -d mongodb redis
          sleep 10

      - name: Run tests
        env:
          DATABASE: mongodb://localhost:27018/PricePointScout
          REDIS_HOST: localhost
          REDIS_PORT: 6377
          NODE_ENV: test
        run: npm test

      - name: Stop services
        if: always()
        run: docker compose down

  build_and_push_docker:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: omarzakaria10
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Get Docker tag
        id: get_tag
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi
          echo "commit_hash=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            omarzakaria10/price-point-scout:${{ steps.get_tag.outputs.tag }}
            omarzakaria10/price-point-scout:${{ steps.get_tag.outputs.commit_hash }}
          cache-from: type=registry,ref=omarzakaria10/price-point-scout:latest
          cache-to: type=inline
